@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --teksti: #240000;
    --tausta: #ffe9fa;
    --teksti-vaalea: #dddddd;
    --bg-dark: #444444;
    --highlight:#1dd6eb;
}

* {
    box-sizing: border-box;
}

html, body {
    height:100%;
}

body {
    margin: 0;
    margin-top: 78px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);
    display: flex;
    flex-direction: column;
}

main {
    font-size: 1.1em;
    line-height: 1.3em;
    flex: 1 0 auto;
}

section {
    max-width: 900px;
    width: 70%;
    margin: 20px auto;
}

/* footer */
footer {
    background-color: var(--bg-dark);
    color: var(--teksti-vaalea);
    padding: 40px 0;
    text-align: center;
    border-top: var(--highlight) solid 5px;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
}
/* header */
header {
    background-color: var(--bg-dark);
    color: var(--tausta);
    padding: 10px;
    height: 78px;
    position: fixed;
    width: 100%;
    top: 0%;
    border-bottom: var(--highlight) solid 5px;
}

header .logo {
    float: right;
    font-size: 1em;
}

header .logo img {
    height: 65px;
    padding: 5px;
    display: block;
    float: right;
}

header nav a {
    display: inline-block;
    color:var(--highlight);
    font-size: 1.2em;
    padding: 0 5px;
}

header nav a:hover{
    color:#dc04ce;
    background-color: var(--highlight);
}
.tumma {
    background-color: var(--bg-dark);
}