@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --teksti: #333333;
    --tausta: #eeeeee;
    --teksti-vaalea: #dddddd;
    --bg-dark: #444444;
    --highlight: #87af19;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);
}

main {
    font-size: 1.1em;
    line-height: 1.3m;
}

section {
    max-width: 900px;
    width: 70%;
    margin: 20px auto;
}
/* ruudukko */
.ruudukko {
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 0.9em;

}

.ruudukko h3 {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

/* footer */
footer {
    background-color: var(--bg-dark);
    color: var(--teksti-vaalea);
    padding: 40px 0;
    text-align: center;
}
/* header */
header {
    background-color: var(#555555);
    color: var(--tausta);
    padding: 10px;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0%;
    border-bottom: var(#543043) solid 5px;
}
